# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
venv_tf/

# Environment files
.env

# Machine learning models (DO NOT deploy to Render)
*.h5
*.pkl
*.pt
*.onnx

# IDE files
.idea/
.vscode/
